body{
    .mother{
        .container{
            .nav_flexbox{
                .flex3{
                    ul{
                        li:nth-child(1){
                            font-weight: 500;
                        }
                        
                        li:nth-child(3){
                            font-weight: 900;
                        }
                    }
                }
            }
        }

        .contact_container{
            width: 100%;
            height: 80vh;
            background: url(../images/contact_back2.jpg);
            background-size: cover;
            background-position: center;
            

            
        }

        .contact_white_container{
            width: 30%;
            height: 50vh;
            background-color: white;
            position: absolute;
            top: 50%;
            left: 10%;
            box-shadow: 1px 1px 5px rgb(151, 151, 151);
            transform: translate(-10%,-50%);

            .content{
                width: 70%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);

                button{
                    background-color: white;
                    
                    color: black;
                    border: none;
                    border: solid 1px grey;
                    font-weight: bold;
                    font-size: 12px;
                    font-family: 'Nunito', sans-serif;
                    border-radius: 20px;
                    padding: 10px 30px 10px 30px;
                    
                    cursor: pointer;
                    
                }
            }
        }
    }
}