@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@mixin flexbox {
    display: flex;
    flex-direction: row;
}

@mixin centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.7;
    letter-spacing: 1px;
    //background-image: url(../images/back.png);

        .black_back{
        background-color: white;
        height: 8vh;
       
        position: sticky;
        top: 0;
        z-index: 3;
        box-shadow: 1px 1px 10px rgb(211, 211, 211);
        }
        
    .container{
        width: 80%;
        margin: auto;
        position: relative;
       
        

        .nav_flexbox{
            @include flexbox();
            position: absolute;
            top: 3vh;
            transform: translateY(-3%);
            z-index: 1;
            
            width: 100%;
           
           
            

            .flex1{
                width: 3%;

                
            }
            .flex2{
                width: 30%;
                
                
                
            }


            .flex3{
                width: 70%;
                position: relative;
              

                ul{
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    font-weight: 700;
                    
                    
                  
                    
                    li{
                        display: inline-block;
                        cursor: pointer;
                        padding-left: 120px;
                        font-size: 10px;
                        font-weight: 600;
                       
                        
                        a{
                            text-decoration: none;
                            color: black;
                        }

                        button{
                            background-color: wheat;
                            color: black;
                            border: none;
                            font-weight: bold;
                            font-size: 12px;
                            font-family: 'Nunito', sans-serif;
                            border-radius: 20px;
                            padding: 5px 30px 5px 30px;
                            cursor: pointer;
                        }
                    }

                    li:nth-child(1){
                        font-weight: 900;
                        
                    }
                }

            }
        }

    }
    /*banner*/
    .banner{
        background-color: rgb(36, 36, 36);
        height: 75vh;
        color: white;
        .banner_flexbox{
            @include flexbox();
           
           //border-bottom: 1px solid  burlywood;;
            
            .flex1{
                width: 30%;
                position: relative;
                
               
    
                .banner_content{
                    width: 70%;
                    position: absolute;
                    left: 90%;
                    top: 30%;
                    transform: translate(-90%,-30%);
                    
    
                    h1{
                        font-size: 1.7em;
                       line-height: 1.5;
                        //color: #a27144;
                        color: white;
                        font-weight: 700;
                        margin: 30px;
                        margin-bottom: 10px;
                       
                        
                    }

                    h3{
                        font-weight: 400;
                        font-size: 1em;
                        margin: 30px;
                        margin-top: 0px;
                        margin-bottom: 20px;
                        line-height: 1.5;
                        
                    }
    
                }

               .banner_feature{
                    position: relative;
                    left: 0px;
                    z-index: 2;
                    
                   
                    img{
                        mask: url(../images/mask11.svg);
                        mask-repeat: no-repeat;
                        mask-size: 100%;
                        mask-position: right ;
                        margin-top: 15px;

                      
                        
                    }

                    .banner_feature_content{
                        position: absolute;
                        top: 50%;
                        left: 30%;
                        transform: translate(-30%,-50%);
                        color: black;
                        

                        h2{
                            font-size: 1.1em;
                            
                            
                        }
                    }
                }
            }
            .flex2{
                width: 70%;
                position: relative;
                overflow: hidden;
                z-index: 2;
                
                
                
                img{
                  mask: url(../images/mask10.svg);
                  mask-size: contain;
                  mask-repeat: no-repeat;
                  mask-position:  top right;
                  
                  margin-top: -40px;
                  
                  
                  
                  
                }
                .banner_img_content{
                position: absolute;
                color: white;
                width: 50%;
                left: 30%;
                top: 65%;
                transform: translate(-30%,-65%);
    
                h1{
                    text-shadow: 1px .5px 1px  black;
                    margin: 0;
                    margin-bottom: 10px;
                    font-size: 3em;
                    line-height: 1;
                    font-weight: 800;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    
                   
                }
                p{
                    margin: 0;
                    font-size: 1em;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                }
    
                button{
                    background-color: wheat;
                    border: none;
                    font-weight: bold;
                    font-size: 15px;
                    font-family: 'Nunito', sans-serif;
                    border-radius: 20px;
                    padding: 7px 40px 7px 40px;
                    cursor: pointer;
                    margin-top: 20px;
                    
                    
                }
    
                }
            }
    
        }
        .palm1{
            width: 200px;
            height: 50vh;
            background: url(../images/palm.png)no-repeat;
            background-size:contain;
    
            position: absolute;
            left: 0;
            top: 30%;
            transform: translateY(-30%);
    
        } 

        .palm_inverse1{
            width: 300px;
            height: 30vh;
            background: url(../images/palm_inverse.png)no-repeat;
            background-size:contain;
    
            position: absolute;
            left: 32%;
            top: 32%;
            transform: translate(-32%,-32%);
            z-index: 1;
    
        } 
    }
    .body_content1{
      
        .leaves2{
            width: 6%;
            height: 40vh;
            background: url(../images/leaves_inverse.png)no-repeat;
            background-size:contain;
            position: absolute;
            top: 140%;
            right: 0;
            transform: translateY(-140%)
           
        }

        .content1_flexbox{
            @include flexbox();
            margin-top: 30px;
            .flex1{
                width: 50%;
                position: relative;
    
                
    
                p{
                    margin: 0;
                    font-size: .8em;
                }
                h1{
                    margin: 0;
                    font-size: 3em;
                    width: 80%;
                    line-height: 1.3;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                   
                }
            }
    
            .flex2{
                width: 50%;
               
                font-weight: 400;
                line-height:2;
    
                
                
            }
        }
    }
   

    .body_content2{
        position: relative;
        height: 90vh;
        overflow: hidden;
        
        margin-top: 50px;
        img{
            position: absolute;
            right: 0;
            border-left: dashed red 3px;
        }

        .content_holder{
            width: 30%;
            height: 40vh;
            position: absolute;
            top: 30%;
            left: 20%;
            transform: translate(-20%,-30%);
            z-index: 1;
            background-color: white;
            font-weight: 400;
            box-shadow: 1px 1px 20px rgb(211, 211, 211);
            border-radius: 5px;

            .content{
                width: 80%;
                @include centered();
                line-height:2;
            }
        }

        .leaves{
            width: 20%;
            height: 40vh;
            background: url(../images/leaves.png)no-repeat;
            background-size:contain;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

       
    }

    .body_content3{
        .massage_styles{
           

            position: relative;
            top: -5vh;
            

            .arrow_left{
                width: 30px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                
            }

            .arrow_right{
                width: 30px;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                cursor: pointer;
               
                
                
            }
        }
        
        .massage_styles_holder{
          
            width: 90%;
            margin: auto;
            overflow: hidden;
            position: relative;

            .massage_styles_flexbox{
               
                @include flexbox();
                //background-color: aqua;

               .flex1{
                   width: 50%;
                   margin: 10px;
                  

                   .card{
                    width: 100%;
                    height: 50vh;
                    background-color: white;
                    border-radius: 5px;
                    overflow: hidden;
                    box-shadow: 1px 1px 10px rgb(211, 211, 211);
                    

                    .massage_image{
                        width: 100%;
                        height: 35vh;
                        background: url(../images/hot_stones.jpg)no-repeat;
                        background-size: contain;
                        background-position: center;

                        
                    }

                    .massage_image2{
                        width: 100%;
                        height: 35vh;
                        background: url(../images/traditional_swedish.jpg)no-repeat;
                        background-size: cover;
                        background-position: center;

                        
                    }

                    .massage_text_flexbox{
                        @include flexbox();

                        .flex1{
                            width: 60%;
                            h1{
                                margin-left: 30px;
                                font-size:1.3em;
                                line-height: 1.4;
                                font-weight: 500;
                                margin-bottom:0 ;
                                
                            }

                            p{
                                margin: 0;
                                font-size: 11px;
                                margin-left: 30px;
                                color: grey;
                            }
                        }

                        .flex2{
                            width: 40%;
                            position: relative;

                            button{
                                background-color: white;
                                
                                color: black;
                                border: none;
                                border: solid 1px grey;
                                font-weight: bold;
                                font-size: 12px;
                                font-family: 'Nunito', sans-serif;
                                border-radius: 20px;
                                padding: 5px 30px 5px 30px;
                                cursor: pointer;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                            }
                        }
                        
                        
                    }
                    
                    
                }
               }
             
                
            }

        }
    }

    .body_content4{
       
        .content_holder{
           
           .massage_icon{
              
                   text-align: center;
               
           }
            h1{
                margin: 5px;
                text-align: center;
                
            }
            .line{
                width: 70px;
                border-top: 1.5px solid black;
                margin: auto;
            }
        }
    }

    .body_content5{
       margin-top: 50px;
       background: url(../images/back_5.jpg);
       background-size: cover;
        background-position: left;

        .booking_session_flexbox{
            @include flexbox();

            
            .flex{
                

                width: 50%;
                position: relative;
                margin: 50px;
                margin-left: 0;

                .session_container{
                  
                    width:100%;
                    height: 50vh;
                    background: url(../images/session1.jpg);
                    background-size: cover;
                    background-position: center;
                    margin: auto;
                    position: relative;
                    border: solid 1px wheat;

                    .content_holder{
                        width: 100%;
                        height: 40vh;
                        position: absolute;
                        bottom: 0px;
                        background: linear-gradient(to top,black, rgba(0, 0, 0, 0.705),rgba(255, 0, 0, 0));
                        color: white;

                        .content{
                           @include centered();
                           width: 80%;
                          
                           h1{
                               margin: 0;
                               line-height: 1.3;
                               font-size: 2em;
                           }

                           button{
                            background-color: white;
                            
                            color: black;
                            border: none;
                            border: solid 1px grey;
                            font-weight: bold;
                            font-size: 12px;
                            font-family: 'Nunito', sans-serif;
                            border-radius: 20px;
                            padding: 5px 30px 5px 30px;
                            cursor: pointer;
                            
                        }
                        }
                    }
                }

                .session_container2{
                  
                    width:100%;
                    height: 50vh;
                    background: url(../images/session2.jpg);
                    background-size: cover;
                    background-position: center;
                    margin: auto;
                    position: relative;
                    border: solid 1px white;

                    .content_holder{
                        width: 100%;
                        height: 40vh;
                        position: absolute;
                        bottom: 0px;
                        background: linear-gradient(to top,black, rgba(0, 0, 0, 0.705),rgba(255, 0, 0, 0));
                        color: white;

                        .content{
                           @include centered();
                            width: 80%;
                           h1{
                               margin: 0;
                               line-height: 1.3;
                               font-size: 2em;
                           }

                           button{
                            background-color: white;
                            
                            color: black;
                            border: none;
                            border: solid 1px grey;
                            font-weight: bold;
                            font-size: 12px;
                            font-family: 'Nunito', sans-serif;
                            border-radius: 20px;
                            padding: 5px 30px 5px 30px;
                            cursor: pointer;
                            
                            
                        }
                        }
                    }
                }
            }

        }
    }

    footer{
        color: white;
        background-color: rgb(27, 27, 27);
        padding-top: 30px;
        padding-bottom: 50px;

        .footer_flexbox{
            @include flexbox();
            justify-content: center;
            

            .flex{
                width: 33%;
                position: relative;
                

                .content_holder{
                    position: relative;
                    h3{
                        color: wheat;
                        font-size: 16px;
                    }
                    .site_map{
                        text-align: center;
                    }

                    ul{
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        margin-left: 0;
                        padding-left: 0;
                        li{
                            list-style: none;
                            margin-left: 0;
                            padding-left: 0;
                            font-size: 12px;
                            line-height: 2.5;
                        }
                    }

                    .social{
                       
                        margin-left: 0;
                        padding-left: 0;
                        list-style: none;
                        display: flex;
                        position: relative;
                        li {
                            display: inline-block;
                            width: 50px;
                            margin-left: 0;
                            padding-left: 0;
                            font-size: 12px;
                            line-height: 2;
                        }
                    }

                    p{
                        font-size: 14px;
                        line-height: 2;
                    }
                }
            }
        }
    }

      
    
}

   